/* Fix user-agent */
$green: #7eab78;
$blue: #94a2ED;
$orange: #E38968;
$green_top: #0aab4c;
$blue_top: #3575ed;
$orange_top: #e3612f;
$gray: #92959E;
$black: #222222;


/* style sheets */

.ui-chatbox-icon {
  float: right;
  min-width: 30px;
  height: 36px;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
  font-size: 14px;
  line-height: 26px;
  color: #fff !important;
  padding: 5px 9px;
}
.ui-chatbox-icon.ui-state-hover {
  background-color: rgba(0, 0, 0, 0.07) !important;
  border-left: 1px solid rgba(0, 0, 0, 0.09) !important;
}
.ui-chatbox-input-focus {
  border-color: #5D98CC !important;
  background-color: #fff !important;
}


/* Chat Content */

.chat-container {
}

.chat-box {
  position: fixed;
  right: 1px;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 6px;
  z-index: 959;
  background: #f2f2f2f2;

  .chat-header {

    &.chat-titlebar {
      padding: 0px;
      height: 36px;
      cursor: pointer;
      background: #474544 !important;
      color: #ffffff !important;
      font-weight: normal;
      line-height: normal;
      box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);

      > span {
        font-weight: normal;
        font-size: 14px;
        line-height: 36px;
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 120px;
        display: inline-block;
        float: left;

        > :first-child {
          display: inline-block;
          border-radius: 50%;
          margin-right: 7px;
          padding: 5px;
        }

        > i {
          background: #54ce3c;
        }
        > i {
          background: #f14b52;
        }
        > i {
          background: #ffc40d;
        }
        > i {
          background: #a19e9d;
        }
      }

      &.ui-state-focus {
        background: #201f1f !important;
        color: #ffffff;
      }
    }

    img {
      float: left;
    }

    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }

    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }

    .chat-num-messages {
      color: $gray;
    }

    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }

  .chat-messages {
    border: none;
    font-size: 12px;

    .scroll-bar {
      width: 220px;
      height: 260px;
    }

    /* And scrollbar */

    .track {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0;
    }
    .baron > .track {
      display: block;
    }
    .bar {
      position: absolute;
      right: 0;
      width: 6px;
      border-radius: 3px;
      background: #ccc;
    }

    .chat-message {

      .message-data {
        margin-top: 6px;
        padding-top: 6px;
        border-top: 1px solid #eeeeee;
        margin-bottom: 3px;

        .message-data-time {
          color: lighten($gray, 8%);
          font-size: 11px;
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 1px;
          margin-bottom: 1px;
          float: right;
        }
        .message-data-name {
          font-size: 12px;
          padding-left: 5px;
          padding-right: 5px;
          margin-bottom: 1px;
        }
        .fa-clock-o {
          margin-right: 3px;
        }
      }

      .message {
        color: $black;
        padding: 2px 8px;
        width: 100%;
        position: relative;

        &.first {
          padding-top: 5px;
        }
      }

      .log-message {
        font-size: 12px;
        color: $gray;
        text-align: center;
        margin: 5px 0px;
      }
    }
  }

  .ui-chatbox-input {
    padding: 6px 3px 0px 3px;
    overflow: hidden;
    width: 100% !important;
    max-width: 100% !important;
    display: block;

    .ui-chatbox-input-box {
      margin: 12px 2px 0px 2px;
      border: 0px transparent;
      padding: 1px 2px 0px 2px;
      height: 24px;
      width: 200px;
      font-size: 12px;
      outline: none;
      resize: both;

      &:focus {
        border-bottom: 2px solid !important;
        border-bottom-color: $blue_top  !important;
      }
    }
  }
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 12px;
}

.online {
  color: $green;
}

.offline {
  color: $orange;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}




.clipper {
  overflow: hidden;
  height: 100%;
}
.scroller {
  overflow-y: scroll;
  height: 100%;
}

/* or, for flexbox */

.clipper {
  display: flex;
  overflow: hidden;
  height: 100%;
}
.scroller {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex: 1 1 auto;
}
